# Node build artifacts
node_modules
npm-debug.log
/.vscode

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

/data

.node_modules

config.json

/.ipynb_checkpoints
*.ipynb

test.json
*.csv

test*.js